.checkout {
	position: relative;

	.checkout__payment-box-container {
		margin-bottom: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;

		&-appear,
		&-enter {
			height: 0;
			opacity: 0.01;
			transform: translateZ( 0 ) scale( 0.8 );
		}

		&-appear-active,
		&-enter-active {
			height: auto;
			opacity: 1;
			transform: translateZ( 0 ) scale( 1 );
			transition-property: height, opacity, transform;
			transition-duration: 400ms;
		}

		&:not( .domain-details ) {
			@include breakpoint( '<660px' ) {
				box-shadow: none;
			}
		}

		.is-empty {
			.payment-box-section,
			.checkout__payment-box-section {
				border: 1px solid var( --color-neutral-0 );
				margin: 5px 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				background-color: var( --color-white );
				padding: 10px;
			}

			.placeholder {
				animation: pulse-light 800ms ease-in-out infinite;
				background: var( --color-neutral-100 );
				width: 100%;
				height: 100%;
			}

			.payment-box__title {
				@extend .placeholder;
				height: 22px;
				width: 130px;

				::after {
					content: '';
				}
			}

			.payment-box__header {
				height: 16px;
				width: 170px;
				flex: 0 0 170px;
			}

			.placeholder-row {
				height: 40px;
				flex: 0 0 100%;
				margin-bottom: 15px;
			}

			.placeholder-col-narrow {
				height: 40px;
				flex: 1 1 auto;
				margin-bottom: 15px;

				@include breakpoint( '>480px' ) {
					flex: 2 1 auto;
				}
			}

			.placeholder-inline-pad {
				padding-right: 15px;
			}

			.placeholder-inline-pad-only-wide {
				@include breakpoint( '>480px' ) {
					padding-right: 15px;
				}
			}

			.placeholder-col-wide {
				height: 40px;
				margin-bottom: 15px;
				flex: 0 0 100%;

				@include breakpoint( '>480px' ) {
					flex: 6 3 auto;
				}
			}

			.placeholder-button {
				height: 50px;
				width: 100%;

				@include breakpoint( '>480px' ) {
					width: 80px;
					height: 40px;
				}
			}

			.placeholder-button-container {
				margin-top: 55px;

				@include breakpoint( '>480px' ) {
					margin-top: 20px;
				}
			}

			.payment-box-hr {
				margin: 40px 0 20px;
				width: 100%;
				height: 0;
				border-bottom: 1px solid var( --color-neutral-0 );

				@include breakpoint( '<480px' ) {
					display: none;
				}
			}
		}
	}

	.payment-box {
		padding: 0;
	}

	.payment-box__content {
		min-height: 140px;
	}

	h5 {
		color: var( --color-neutral-400 );
		font-size: 15px;
		font-weight: 600;
		opacity: 0.7;
		text-transform: uppercase;
	}

	.checkout__box-padding {
		padding: 16px 8px;

		@include breakpoint( '>660px' ) {
			padding: 10px 30px 20px;
		}
	}

	.domain-details {
		.box-padding {
			@include breakpoint( '<660px' ) {
				padding: 16px;
			}
		}
	}

	form {
		margin-top: 5px;

		@include breakpoint( '>660px' ) {
			@include clear-fix;
		}
	}

	button[type='submit'].checkout__pay-button-button,
	button[type='submit'].button-pay {
		@include breakpoint( '<660px' ) {
			width: 100%;

			.wpcom-site & {
				min-height: 50px;
			}
		}

		@include breakpoint( '>660px' ) {
			clear: both;
			float: left;
		}
	}

	// Turn off number spinners
	input[type='number'] {
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	// Floating labels
	// -----------------------------------

	.checkout-field,
	.checkout__checkout-field {
		margin-top: 15px;
		position: relative;

		select {
			font-size: 15px;
			width: 100%;
		}

		input[disabled] {
			cursor: not-allowed;
		}
	}

	.form-button {
		margin-top: 20px;

		@include breakpoint( '<660px' ) {
			margin-bottom: 20px;
		}
	}

	// Payment Boxes
	// =============================================

	.checkout__recent-renewals {
		padding-top: 0.5em;
	}

	.checkout__recent-renewals li {
		font-size: 12px;
	}

	.checkout-terms,
	.checkout__domain-refund-policy {
		color: var( --color-neutral-400 );
		margin: 16px 0;
		padding: 0;

		@include breakpoint( '>660px' ) {
			padding: 0;
			text-align: left;
		}

		p {
			font-size: 12px;
			font-weight: 100;
			margin: 0;

			@include breakpoint( '>660px' ) {
				margin-left: 24px;
			}
		}

		.gridicon {
			float: left;

			@include breakpoint( '<660px' ) {
				display: none;
			}
		}
	}

	.cart__coupon {
		cursor: pointer;
		display: none;
		font-size: 14px;
		margin: 0;
		padding: 10px 0;

		// On larger screens, users can use the coupon functionality present on the sidebar
		@include breakpoint( '<660px' ) {
			display: block;
			text-align: center;
		}

		input {
			margin-right: 15px;
			width: 50%;
		}
	}

	.payment-box-actions,
	.checkout__payment-box-actions {
		margin: 20px -30px 0;
		padding: 20px 30px 0;
		@include clear-fix;
	}

	.credit-card-payment-box {
		.payment-box-sections {
			background-color: var( --color-white );
			box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.075 );

			@include breakpoint( '>660px' ) {
				box-shadow: none;
			}
		}

		.checkout__payment-box-section.is-selected.no-stored-cards {
			border-left: 1px solid var( --color-neutral-0 );
		}

		.checkout__payment-box-section.is-selected:not( .no-stored-cards ) .checkout__new-card-fields {
			background-color: #fafdf6;
		}

		.no-stored-cards .checkout__new-card-fields > .checkout-field:first-child {
			margin-top: 0;
		}

		.checkout__payment-box-section .checkout__new-card-toggle {
			box-shadow: none;
			cursor: pointer;
			font-size: 13px;
			position: absolute;
		}

		.checkout__payment-box-section .checkout__new-card-fields {
			background-color: var( --color-white );
			max-height: 0;
			overflow: hidden;
			padding: 0 15px 0 12px;
			position: relative;
			transition: all 500ms ease-in-out;
		}

		.checkout__payment-box-section.is-selected .checkout__new-card-fields {
			max-height: 100%;
			margin-bottom: 0;
			padding-top: 15px;
		}

		.checkout__new-card-toggle {
			color: var( --color-primary );
			padding: 15px 15px 15px 12px;
			border: 0;
			background: transparent;
		}

		.checkout__new-card-header {
			font-weight: bold;
			margin-bottom: 15px;
		}
	}

	.checkout__summary-toggle {
		cursor: pointer;
		display: block;
		font-size: 14px;
		padding: 10px;
		text-align: center;

		@include breakpoint( '>660px' ) {
			display: none;
		}
	}

	// Term-picker rules
	// -----------------------------------

	.subscription-length-picker {
		margin-top: 15px;
	}

	&__subscription-length-picker-separator {
		display: none;
		position: relative;
		// Parent overflow is hidden, so 80px here is an arbitrary number
		// to make sure this element will cover entire width of the parent.
		// If it's wider, it's okay too.
		width: calc( 100% + 80px * 2 );
		left: -80px;
		margin-top: 1.7em;
		margin-bottom: 1.7em;
		background: var( --color-neutral-0 );
	}

	.subscription-length-picker + &__subscription-length-picker-separator {
		display: block;
	}

	// PayPal Payment Box
	// -----------------------------------

	.paypal-payment-box,
	.credits-payment-box,
	.web-payment-box {
		.payment-box-section,
		.checkout__payment-box-section {
			background-color: var( --color-white );
			box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.075 );

			@include breakpoint( '>660px' ) {
				border: 1px solid var( --color-neutral-0 );
				box-shadow: none;
			}
		}
	}

	.paypal-payment-box,
	.web-payment-box {
		.payment-box-section,
		.checkout__payment-box-section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 15px;
			padding-right: 15px;
		}

		.country,
		.postal-code {
			margin-left: 15px;
		}

		.country {
			flex-basis: auto;
			flex-grow: 3;
			flex-shrink: 0;
		}

		.postal-code {
			flex-basis: 8em;
			flex-grow: 2;
			flex-shrink: 0;
			margin-top: 15px;
		}
	}

	// Credits Payment Box
	// -----------------------------------
	.credits-payment-box {
		.payment-box-section {
			align-items: center;
			box-sizing: border-box;
			display: flex;
			min-height: 91px;
			padding: 20px 20px 20px 0;

			.wordpress-logo {
				fill: var( --color-primary );
				margin: 0 10px;
				@include breakpoint( '>660px' ) {
					margin: 0 20px;
				}
			}

			.checkout__payment-box-section-content {
				> h6 {
					color: var( --color-primary );
					font-size: 18px;
				}

				> span {
					color: var( --color-neutral-400 );
					font-size: 15px;
				}
			}

			.checkout__free-domain-credit-illustration {
				max-width: 100%;
				max-height: 150px;
				margin: -10px auto 10px;

				img {
					max-width: 100%;
					max-height: 150px;
				}

				@include breakpoint( '>960px' ) {
					float: left;
					margin-left: 20px;
					width: calc( 25% - 20px );
				}
			}

			.checkout__free-domain-credit-illustration + h6,
			.checkout__free-domain-credit-illustration + h6 + span {
				display: block;
				padding-left: 20px;

				@include breakpoint( '>960px' ) {
					clear: none;
					float: left;
					width: calc( 75% - 20px );
				}
			}
		}
	}

	// WeChat Payment Box
	// -----------------------------------
	.wechat-payment-box {
		.payment-box__content {
			// WeChat Pay QR code Display
			.checkout__wechat-qrcode {
				text-align: center;
				margin-bottom: 12px;
			}
			.checkout__wechat-qrcode-redirect {
				color: var( --color-text-subtle );
				font-size: 12px;
			}
		}

		form.loading {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// Web Payment Box
	// -----------------------------------
	.web-payment-box {
		.web-payment-box__apple-pay-button {
			-webkit-appearance: -apple-pay-button;
			-apple-pay-button-type: buy;
			-apple-pay-button-style: black;
			vertical-align: middle;
			cursor: pointer;

			&[disabled] {
				opacity: 0.4;
				cursor: not-allowed;
			}
		}
	}

	// Supporting Text / Fine Print
	// -----------------------------------
	.supporting-text {
		border-top: 1px solid var( --color-neutral-100 );
		font-size: 13px;
		list-style: none;
		margin: 0;
		padding: 15px 0;
		@include clear-fix;

		@include breakpoint( '>660px' ) {
			border-bottom: 1px solid var( --color-neutral-100 );
			margin: 30px 0;
		}

		li {
			color: var( --color-neutral-200 );
			text-align: center;

			@include breakpoint( '>660px' ) {
				float: left;
				margin: 0 5%;
				width: 40%;
			}

			@include breakpoint( '<660px' ) {
				margin: 0;
				padding: 15px;
			}

			h6 {
				color: var( --color-neutral-500 );
				font-size: 14px;
				font-weight: 600;
			}

			p {
				font-size: 12px;
				font-weight: 100;
				margin: 10px 0 0;
			}
		}
	}

	.credit-card-supporting-text__refund-link {
		white-space: nowrap;
		color: var( --color-neutral-200 );
		text-decoration: underline;
	}
}

.privacy-protection {
	background-color: var( --color-neutral-0 );
	float: left;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;

	@include breakpoint( '>660px' ) {
		box-sizing: border-box;
		padding: 15px;
		width: 100%;

		section {
			display: flex;
		}
	}

	h6 {
		font-size: 16px;
		font-weight: 600;
	}

	label {
		background-color: var( --color-white );
		border: 3px solid var( --color-white );
		border-radius: 3px;
		display: block;
		margin-top: 10px;
		padding: 12px;
		transition: all 300ms ease-in-out;

		&.selected {
			border-color: #00aadc;
		}

		@include breakpoint( '>660px' ) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-top: 15px;
			width: 50%;

			&:last-child {
				margin-left: 15px;
			}
		}
	}

	strong {
		display: block;
		font-size: 14px;
		font-weight: normal;
		line-height: 130%;
	}

	p {
		color: #7096af;
		font-size: 11px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	input {
		display: none;
	}

	button {
		margin-top: 10px;
		white-space: normal;
		width: 100%;
	}
}

// If there's no sidebar, we don't show the cart on the checkout page.

@include breakpoint( '>660px' ) {
	.pay-button,
	.checkout__pay-button {
		float: left;
	}
}

.credit-card-payment-box__switch-link {
	color: var( --color-link-dark );
	font-style: italic;
	font-weight: 800;
	line-height: 40px;
	display: block;
	clear: both;
	font-size: 12px;
	padding-bottom: 5px;

	img {
		margin-left: 8px;
	}

	&.ideal,
	&.giropay,
	&.bancontact,
	&.p24,
	&.alipay,
	&.eps,
	&.wechat {
		margin-left: 1em;
	}

	@include breakpoint( '<660px' ) {
		border-bottom: 1px solid var( --color-neutral-0 );
		margin: 10px 0 0;
		text-align: center;
	}

	@include breakpoint( '>960px' ) {
		float: right;
		clear: none;
	}
}

.credit-card-payment-box__switch-link-left {
	@include breakpoint( '>960px' ) {
		float: left;
		padding-left: 20px;
	}
}

.checkout__payment-box-buttons,
.payment-box__payment-buttons {
	@include breakpoint( '>660px' ) {
		display: flex;
		flex-wrap: wrap;
	}

	.checkout__pay-button,
	.pay-button {
		margin-right: 10px;

		@include breakpoint( '<960px' ) {
			flex: 1 0 50%;
		}
	}

	.checkout__pay-button-button,
	.pay-button__button {
		@include breakpoint( '<960px' ) {
			width: 100%;
		}
	}
}

.checkout__secure-payment {
	color: var( --color-neutral-200 );
	flex-grow: 1;
	margin-top: 10px;

	@include breakpoint( '>660px' ) {
		flex: 1 0 40%;
	}
}

.checkout__secure-payment-content {
	display: flex;
	align-items: center;
	justify-content: center;

	@include breakpoint( '>660px' ) {
		justify-content: left;
	}
}

.checkout__payment-chat-button.is-borderless {
	color: var( --color-accent );
	text-align: left;

	@include breakpoint( '<660px' ) {
		text-align: center;
		margin-top: 5px;
		width: 100%;
	}

	@include breakpoint( '>960px' ) {
		justify-content: flex-end;
	}

	&:hover {
		color: var( --color-primary-light );
	}

	&:focus {
		color: var( --color-primary );
	}

	.gridicon {
		margin-right: 4px;
		top: 9px;
	}
}

.credits-payment-box .checkout__payment-chat-button {
	@include breakpoint( '>660px' ) {
		float: right;
	}
}

.checkout__domain-details-form-submit-button {
	clear: both;
}

.checkout__privacy-protection-price-text {
	color: var( --color-neutral-light );
	margin: 4px 0 0;
	font-size: 15px;

	span {
		&.free-with-plan {
			text-decoration: line-through;
		}
	}
}

.checkout__credit-card-payment-box-progress-bar {
	color: var( --color-neutral-light );
	font-size: 12px;
	padding-bottom: 1em;
	text-align: center;
}

.checkout__privacy-protection-radio {
	&.card {
		display: flex;
		flex-direction: column;
	}
}

.checkout__privacy-protection-radio-buttons {
	margin-top: 20px;
}

.checkout__privacy-protection-radio-button {
	display: flex;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.checkout__privacy-protection-radio-text {
	font-weight: normal;
	margin: 0 0 0 10px;

	span {
		&.free-with-plan {
			text-decoration: line-through;
		}
	}
}

.checkout__privacy-protection-radio-text-description {
	color: var( --color-neutral-500 );
}

.checkout__privacy-protection-radio-price-text {
	color: var( --color-primary );
	margin: 4px 0 0 10px;
	font-size: 15px;
}

.checkout__alternative-payment-methods {
	float: right;
}
.checkout__payment-box-container {
	.select-dropdown__option {
		&:first-child {
			display: none;
		}
		.is-selected {
			background-color: var( --color-neutral-0 );
			color: var( --color-neutral-700 );
		}
	}

	div.section-nav {
		margin-bottom: 0;

		.section-nav-tabs__list > span {
			font-weight: bold;
		}

		.section-nav-tab__link {
			background: transparent;
			color: var( --color-primary );
			font-weight: bold;
		}

		.section-nav-tab.is-selected {
			border-bottom-color: var( --color-primary );

			.section-nav-tab__link {
				color: var( --color-primary );
				background-color: var( --color-neutral-0 );

				@include breakpoint( '>480px' ) {
					background-color: transparent;
				}
			}
		}

		.select-dropdown__container {
			max-width: 500px;

			.select-dropdown__option {
				height: 50px;

				.select-dropdown__item {
					height: 50px;
				}
			}
		}
	}

	.checkout__provider {
		display: flex;
		align-items: center;
	}

	.checkout__paypal {
		width: 80px;
	}

	.checkout__giropay {
		width: 80px;
		margin: -10px 0;
	}

	.checkout__bancontact {
		width: 150px;
		margin: -10px 0;
	}

	.checkout__ideal {
		width: 26px;
		margin-bottom: 2px;
		margin-right: 4px;
	}

	.checkout__p24 {
		width: 80px;
		margin: -6px 0;
	}

	.checkout__alipay {
		width: 100px;
		height: 24px;
	}

	.checkout__eps {
		width: 70px;
		margin: -10px 0;
	}

	.checkout__institution,
	.checkout__credit-card {
		margin-right: 5px;
	}

	.checkout__brazil-tef {
		width: 100px;
		margin-right: 4px;
	}

	.checkout__wechat {
		height: 24px;
		margin-right: 5px;
	}

	.checkout__apple-pay {
		height: 22px;
		margin-right: 6px;
	}

	.checkout__sofort {
		height: 20px;
		margin-right: 5px;
		margin-top: 3px;
	}

	.select-dropdown__item-text {
		top: 4px;
		font-weight: bold;

		img {
			vertical-align: middle;
		}
	}

	@include breakpoint( '<480px' ) {
		.is-open .section-nav__panel {
			padding-bottom: 0;
		}
		.section-nav-group {
			margin-top: 0;
		}
	}
}

// Ebanx checkout fields
// -----------------------------------
.checkout__country-payment-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0 0 -15px;
	.checkout__checkout-field,
	.checkout__form-state-field {
		flex-basis: calc( 100% - 15px );
		flex-grow: 1;
		flex-shrink: 0;
		margin-left: 15px;
		margin-top: 15px;
		&.state {
			margin-top: 0;
		}
	}
	.checkout__form-state-field {
		margin-left: 0;
	}
	@include breakpoint( '>480px' ) {
		.address-2,
		.city {
			flex-basis: calc( 100% - 15px );
		}

		.street-number {
			flex-basis: calc( 33% - 15px );
		}

		.address-1 {
			flex-basis: calc( 66% - 15px );
		}

		.document,
		.phone,
		.postal-code,
		.checkout__form-state-field {
			flex-basis: calc( 50% - 15px );
		}
	}
	.form__hidden-input a {
		display: block;
		font-size: 12px;
		margin-left: 15px;
	}
	select {
		width: 100%;
	}
	&.checkout__country-mx .checkout__form-state-field {
		display: none;
	}
}

.checkout__form-info-text {
	margin-left: 15px;
	color: var( --color-neutral-200 );
	display: block;
	font-size: 12px;
	font-style: italic;
}
